
<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    API client token created
  </h1>

  <div class="govuk-panel__body">
    <strong class="govuk-!-display-block"><%= @api_client.name %></strong>
    <span class="govuk-!-font-size-19">Token:</span>
    <span class="govuk-!-font-size-19 app-panel-token"><%= @token %></span>
  </div>
</div>

<p class="govuk-body">Copy this token now. For security, it cannot be viewed again.</p>
<p class="govuk-body">
  <%= govuk_link_to("Back to API clients", api_clients_path) %>
</p>
