<% page_data(title: t(".heading")) %>

<p class="govuk-body"><%= t(".body") %></p>

<p class="govuk-body">
  <%= t(".contact_us_html", link: support_email(subject: "Get access to Register of training providers")) %>
</p>
