---
title: Register of training providers privacy notice
---

<%= content_for(:breadcrumbs) do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Home" => root_path }) %>
<% end %>

Read the <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-so-we-can-support-your-teaching-career">Privacy information: education providers’ workforce, including teachers (opens in new tab)</a>.

The following links are most relevant to using this service:

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-when-you-access-register-trainee-teachers-register">using your data when you access Register trainee teachers (Register)</a> tells you what we do with your data when you contact us or use this service
  </li>
  <li>
    <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-to-contact-you-for-research-or-feedbackon-services-we-provide-to-you">using your data to contact you for research or feedback on services we provide to you</a> tells you how we use your data to carry out research or to gain feedback
  </li>
  <li>
    <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#how-to-contact-us-and-how-to-make-a-complaint">how to contact us and how to make a complaint</a> tells you how you can contact us or make a complaint
  </li>
</ul>

Last updated 13 August 2025
