<%= content_for :page_title, "Sorry, there’s a problem completing this action" %>

<h1 class="govuk-heading-l">Sorry, there’s a problem completing this action</h1>

<p class="govuk-body">
  You have tried this action too many times. Try again later.
</p>

<p class="govuk-body">
  If you have any questions, email <%= support_email %>.
</p>
