<% if contacts.any? %>
  <% contact_summary_cards(contacts, provider, include_actions: !provider.archived?).each do |summary_card| %>
    <%= govuk_summary_card(title: summary_card[:title]) do |card|
          if summary_card[:actions].present?
            summary_card[:actions].each do |action|
              card.with_action { govuk_link_to(action[:text], action[:href]) }
            end
          end
          card.with_summary_list(rows: summary_card[:rows])
        end %>
  <% end %>
<% else %>
  <p class="govuk-body">There are no contacts for <%= provider.operating_name %>.</p>
<% end %>
