$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk";
@import "secondary_navigation";

@import "filters";
@import "filters-layout";

@import "search";

@import "components/autocomplete";

@import "components/start_page_banner";

.govuk-tag__heading {
  position: relative;
  top: -7px;
}

.govuk-summary-list__row--no-border {
  border: 0;
}

.app-panel-token {
  display: block;
  font-family: monospace;
  overflow-wrap: break-word;
  word-break: break-all;
}
