$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk";
@import "secondary_navigation";

@import "filters";
@import "filters-layout";

@import "search";

.govuk-tag__heading {
  position: relative;
  top: -7px;
}

.govuk-summary-list__row--no-border {
  border: 0;
}
