$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk";
@import "secondary_navigation";

@import "filters";
@import "filters-layout";

@import "search";

@import "components/autocomplete";

@import "components/start_page_banner";

.govuk-tag__heading {
  position: relative;
  top: -7px;
}

.govuk-tag__heading__status {
  left: 7px;
}

.govuk-summary-list__row--no-border {
  border: 0;
}

.app-panel-token {
  display: block;
  font-family: monospace;
  overflow-wrap: break-word;
  word-break: break-all;
}

.app-markdown {
  pre,
  code {
    @include govuk-font($size: 19);
    font-family: monospace;
    background-color: govuk-colour("light-grey");
  }

  pre {
    padding: govuk-spacing(4);
    overflow: scroll;
  }

  code {
    font-size: 0.875em;
  }
}

.app-table-example {
  font-family: monospace;
  overflow-wrap: break-word;
  word-break: break-all;
}

.app-service-navigation__align-right {
  @include govuk-media-query($from: tablet) {
    margin-left: auto;
  }
}
